@import "tailwindcss";

@theme {
  
  --font-sans: 'Montserrat';

  --color-roxo: #836DFF;
  --color-vermelho: #B12528;
  --color-amarelo: #F9E65B;
  --color-turquesa: #0AFFF3;
  --color-dark-lp: #181818;

}