TESTING=1

SERVER_USERNAME="USERNAME"
SERVER_PASS="PASSWORD"

DB_USERNAME="USERNAME"
DB_PASS="PASSWORD"
DB_NAME="DB_NAME"
DB_NAME_TEST="DB_NAME_test"
DB_HOST="localhost"
DB_PORT="3000"

SECRET_KEY_JWT="SECRET KEY"