IS_TESTING=1

VM_USER="USERNAME"
VM_PASS="PASSWORD"

DB_USER="USERNAME"
DB_PASS="PASSWORD"
DB_NAME="DB_NAME"
DB_HOST="localhost"
DB_PORT=3000

JWT_KEY="SECRET KEY"
RAWG_KEY="SECRET KEY"

FRONT_URL="http://localhost:5173"